<h1>Watches</h1>
<div class="container">
    <div id="displaywatchesdiv" class="row displaydiv">This is a div named "displaywatchesdiv" inside of a container div
        and a row div 
    </div>
</div>


<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/app.js"></script>

<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />