<h1>Gift Ideas</h1>
<div class="container">
    <div id="displayproductsdiv" class="row displaydiv">
    </div>
</div>


<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/app.js"></script>

<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />